body{
    background-color: rgb(221, 180, 131);
}
h1{
    font-size: 50px;
    text-align: center;
    
}
.int{
    font-size: medium;
    text-align: center;
    width: 100px;
    height: 100px;
}

.but{
    text-align: center;
    margin: auto;
    font-size: 30px;
    font-style: oblique;
}